@tailwind base;
@tailwind components;
@tailwind utilities;




:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.all {
  position: relative;
}
.categories {
  display: none;
  position: absolute;
  top: 100%; 
  left: 0;
  width: 100%;
  z-index: 1000;
}
.all:hover .categories, .categories:hover{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

